.book-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 100px 50px;
}
.btn{
    background-color: #b3ffca;
    border-radius:8px ;
   
}

.btn:hover{
    background-color: orange;
}

/* mobaile response */
@media screen and (max-width:600px){
.products-container{
    grid-template-columns: repeat(1,1fr);
}
}
/* Big/medium screen response */
@media screen and (min-width:900px){
    .products-container{
        grid-template-columns: repeat(3,1fr);
    }
}